body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .sortButton {
    margin-left: 15px;
    margin-top: 15px;
    height: 20px;
  }
  
  .move-list-item-selected{
    float: left;
    font-weight: bold;
  }
  
  .movelist {
   width: 140px;
  }

  .square.highlight {
    background: #ddd
  }

  .available-square {
    cursor: pointer;
  }
  
  .not-available-square {
    cursor: not-allowed;
  }

  .marker {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .marker.black {
    background: #111;
  }
  
  .marker.white {
    background: #eee;
    border: 1px solid #111;
  }